[submodule "components/stb-master"]
	path = components/stb-master
	url = https://github.com/nothings/stb.git
[submodule "components/tinyobjloader"]
	path = components/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
